@import "tailwindcss";

@theme {
  --color-canvas: #09090b;
  --color-card-dark: #18181b;
  --color-card-border: #27272a;
  --color-pos-primary: #10b981;
  --color-pos-primary-hover: #059669;
  --color-pos-accent: #f59e0b;
  --color-pos-destructive: #f43f5e;
}

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    background-color: #09090b;
    color: #f4f4f5;
    user-select: none;
    touch-action: manipulation;
  }

  input, textarea {
    user-select: text;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
